<div style="display: flex">
  <div style="flex: 1">
    <ul>
      <li><a routerLink="buffer">Buffer</a></li>
      <li><a routerLink="buffer-count">Buffer count</a></li>
      <li><a routerLink="buffer-time">Buffer time</a></li>
      <li><a routerLink="buffer-toggle">Buffer toggle</a></li>
      <li><a routerLink="buffer-when">Buffer when</a></li>
      <li>
        <hr>
      </li>
      <li><a routerLink="take">Take</a></li>
      <li><a routerLink="take-last">Take last</a></li>
      <li><a routerLink="take-until">Take until</a></li>
      <li><a routerLink="take-while">Take while</a></li>
      <li><a routerLink="skip">Skip</a></li>
      <li><a routerLink="skip-last">Skip last</a></li>
      <li><a routerLink="skip-until">Skip until</a></li>
      <li><a routerLink="skip-while">Skip while</a></li>
    </ul>
  </div>

  <div style="flex: 4">
    <router-outlet></router-outlet>
  </div>
</div>